  form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: auto;
        width: 50%;
      }
     
      label {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        grid-column: 1 / 2;
      }
    
         input[type=text], input[type=email] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        grid-column: 2 / 3;
      }
      
      input[type=submit] {
        background-color: #7a4caf;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        grid-column: 2 / 3;
      }
      
      @media screen and (max-width: 1680px) {
        form {
          grid-template-columns: 1fr;
        }
      }
      
      @media screen and (max-width: 1024px) {
        form {
          grid-template-columns: 1fr;
        }
      }
      
      @media screen and (max-width: 480px) {
        form {
          grid-template-columns: 1fr;
        }
      }